@use '../mixin/responsive';

.pagination-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 0.75rem;

  .pagination-info {
    padding-top: 1rem;
    margin: 0 1rem;
  }

  @include responsive.responsive(sp) {
    font-size: 0.75rem;
    padding: 0.5rem 0.75rem;
  }

  @include responsive.responsive(tablet) {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }

  @include responsive.responsive(pc) {
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
  }

  @include responsive.responsive(wide-pc) {
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
  }
}